* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}
@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
