* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  color: #1c2c40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-family: "Poppins";
  font-weight: 400;
}

a {
  color: #707070;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}
a.button {
  font-size: 16px;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 30px;
  font-size: 17px;
  font-weight: 400;
  color: #707070;
  font-family: "Poppins";
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./components/assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
nav.navbar {
  display: none !important;
}
@media all and (max-width: 768px) {
  nav.navbar {
    display: block !important;
  }
}
